<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.site.client.board.vo.ClImgbVO" alias="imgb" />
		<typeAlias type="com.site.admin.ctrl.adMember.vo.AdManagerVO" alias="amvo"/>
		<typeAlias type="com.site.admin.ctrl.adPartner.vo.CourierPartnerVO" alias="couPartner"/>
		<typeAlias type="com.site.client.member.individual.vo.ClMVO" alias="member"/>
		<typeAlias type="com.site.admin.ctrl.adPartner.vo.MagazinePartnerVO" alias="magPartner"/>
		<typeAlias type="com.site.admin.cost.adCost.vo.AdCostVO" alias="acvo"/>
	</typeAliases>
</configuration>
<!-- mybatis xml mapper파일로 생성 후에 변경(5곳/대소문자 구별) -->